<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Server Resource Monitor</title>
  </head>
  <body>
            <section id="wrapper">
              <ul id="chart">
                <center><h3>CPU usage</h3></center><br><br>
                <li title="{{cpuUsage}}" class="red">
                  <span class="bar"></span>
                  <span class="percent"></span>
                </li>
                <center><h3>RAM usage</h3></center><br><br>
                <li title="{{memory}}" class="blue">
                  <span class="bar"></span>
                  <span class="percent"></span>
                </li>
              </ul>
              <form id="form_values" action="" method="post">
                <input name="" id="li_1" value="25" class="field"/>
                <input name="" id="li_2" value="45" class="field"/>
              </form>
            </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/libs/mustache.js"></script>
    <script src="/js/index.js" type="text/javascript"></script>
  </body>
</html>
